.line-con{
    display: flex;
 h1{
    &::after,&::before{
        content: "";
        display: inline-block;
        width: 0px;
        height: 3px;
        background-color: #000;
        margin-bottom: 10px;
        transition: 1s;
      }
      &:hover::after,&:hover::before{
        width: 300px;

      }
 }
}

.box{
    position: relative;
    width: 100px;
    height: 300px;
    background-color: red;
    &:after{
        content: "Hello";
        position: absolute;
        width: 100px;
        height:0px;
        bottom: 0;
        display: block;
        background-color: rgba($color: #000000, $alpha: .5);
        transition: 1s;
    }
    &:hover:after{
        height: 300px;
    }
}