.box-one,
.box-two {
  width: 100px;
  height: 100px;
  display: block;
}

.box-one {
  background-color: green;
  /* margin-right: 100px; */
  padding: -10px;
}
.box-two {
    background-color: red;
}
/* p{
    display: inline;
    background-color: green;
} */


