

.dark{
    button{
        background-color: black;
        i{
            color: #fff;
        }
    }

    main{
        background-color: black;
        *{
            color: #fff;
        }
    }
}