@import 'light';
@import 'dark';

button{
    position: relative;
    transition: 1s;
}
main{
    width: 40%;
    height: 200px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;


}

#show{
    transition: 1s;
    transform: translateX(0);
}
#hide{
    transition: 1s;
    transform: translateX(-500px);
}