@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

// .box{
//     position: relative;
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
//     // animation-name: action;
//     // animation-duration: 3s;
//     // animation-iteration-count: infinite;
//     // animation-delay: 2s;
//     // animation:  action 2s infinite;
//     // animation-timing-function: linear;
// }
// @keyframes action {
//     // from{left: 0px;}
//     // to{left: 200px;}
//     // 0%{left: 0; top: 0; background-color: green;}
//     // 25%{left: 300px; top: 0; background-color: yellowgreen;}
//     // 50%{left: 300px; top: 300px; background-color: blue;}
//     // 75%{left: 0px; top: 300px; background-color: blue;}
//     // 100%{left: 0px; top: 0px; background-color: red;}
//     100%{transform: rotate(360deg);}

    
// }

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alert-box{
    width: 3%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    transition: 1s;
    i{
        font-size: 50px;
        color: 	#075E54;
        animation: alertcolor 2s infinite linear;
    }
    @keyframes alertcolor {
        0%{color: #075E54;}
        50%{color: #25D366;}
        100%{color: #075E54;}
    }
    p{
        display: none;
    }
    &:hover{
        width: 30%;
        p{
            display: block;
        }
       
    }
    
}