/* p:nth-child(2n-1){
    color: red;
} */



/* .infoText{
    color: blue;
}

#listOne{
    color: firebrick;
    font-weight: bolder;
}
#listTwo{
    color: blueviolet;
} */

/* header nav ul li>a{
    color: red;
} */