header{
    width: 100%;
    height: 100px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
}

// max-width -> 0dan verilen deyere qeder
// min-width -> sonsuzluqdan verilen deryer qeder
@media (max-width:700px) {
    header{
        background-color: red;
        .menu{
            display: block;
        }
        ul{
            display: none;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
